{% extends 'base/list.html' %}
{% load crispy_forms_tags %}
    {% block nombre %}
      <h1 class="text-center">Lista de Usuarios</h1>
    {% endblock nombre %}
    {% block body_list %}
      <form method="GET" action="" class="pb-3">
        {{form}}
        <button type="submit" class="no-show">Enviar</button>
      </form>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Email</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody> 
            {% for object in object_list %}
                <tr>
                    <td>{{ object.username }}</td>
                    <td>{{ object.first_name }}</td>
                    <td>{{ object.last_name }}</td>
                    <td>{{ object.email }}</td>
                    <td>
                        
                        <!-<a type="button" class="btn btn-primary" href="{% url 'users:update_user_user' %}"><!-Actualizar</a>
                        <a type="button" class="btn btn-primary" href="{% url 'users:usuarios_perms' object.id %}">Permisos</a>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
    {% endblock body_list %}