{% extends 'base/list.html' %}
{% load crispy_forms_tags %}
    {% block nombre %}
      <h1 class="text-center">Lista de Unidades de la Gestion</h1>
      <a class="btn btn-primary" href='{% url 'ppoa:unidadg_create' %}'>Crear Unidad</a>
    {% endblock nombre %}
    {% block body_list %}
    <form method="GET" action="" class="pb-3">
      {{form}}
      <button type="submit" class="no-show">Enviar</button>
    </form>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Unidad</th>
              <th scope="col">Area</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody> 
            {% for object in object_list %}
                  <tr>
                      <th scope="row">{{ object.id }}</th>
                      <td>{{ object.unidad.nombre }}</td>
                      <td>{{ object.area.nombre }}</td>
                      <td>
                        <a type="button" class="btn btn-primary" href="{% url 'ppoa:unidadg_update' object.id %}">Actualizar</a>
                        <a type="button" class="btn btn-primary" href="{% url 'ppoa:iniciativa_list' object.id %}">Iniciativas POA</a>
                      </td>
                  </tr>
            {% endfor %}
          </tbody>
      </table>
    {% endblock body_list %}