{% extends 'base/list.html' %}
{% load crispy_forms_tags %}
    {% block nombre %}
      <h1 class="text-center">Lista de Iniciativas</h1>
      <a class="btn btn-primary" href='{% url 'ppoa:iniciativa_create' view.kwargs.pk %}'>Crear Iniciativa</a>
    {% endblock nombre %}
    {% block body_list %}
    <form method="GET" action="" class="pb-3">
      {{form}}
      <button type="submit" class="no-show">Enviar</button>
    </form>
      <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Iniciativa</th>
              <th scope="col">F. Inicio</th>
              <th scope="col">F. Fin</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody> 
            {% for object in object_list %}
                  <tr>
                      
                      <td>{{ object.iniciativa }}</td>
                      <td>{{ object.f_inicio }}</td>
                      <td>{{ object.f_fin }}</td>
                      <td>
                        <a type="button" class="btn btn-primary" href="{% url 'ppoa:iniciativa_update' object.id %}">Actualizar</a>
                      </td>
                  </tr>
            {% endfor %}
          </tbody>
      </table>
    {% endblock body_list %}