{% extends 'base/form.html' %}
{% load crispy_forms_tags %}
    {% block nombre %}
        <h3 class="text-center">Crear Gestión</h3>
    {% endblock nombre %}
    {% block body_form %}

        <form action="" method="post" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            
            <div class="d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <a class="btn btn-primary" href="/"> Regresar</a>
                </div>
            </div>
        </form>
        
    {% endblock body_form %}